* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

:root {
  --pri-background: #121212;
  --sec-background: #292929;
  --text-color: #fff;
  --hover-color: #303030;
  --focus-color: #383838;
}

.light-mode {
  --pri-background: #e7e7e7;
  --sec-background: #fff;
  --text-color: #000;
  --hover-color: #f0f0f0;
  --focus-color: #c8ffd8;
}

body {
  display: grid;
  place-items: center;
  padding: 2vh;
  min-height: 100vh;
}

main {
  height: fit-content;
  padding: 24px 0 0 0;
  width: 90vw;
  max-width: 700px;
  margin-bottom: auto;
  border-radius: 4px;
}

main div {
  display: grid;
  gap: 30px;
  align-items: start;
}

main div ul {
  display: grid;
  border: 1px solid;
}

ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

li:nth-child(even){
  background-color: rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
}

form button {
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  main div {
  grid-template-columns: 5fr 4fr;
}
}

